#block-drupal8-zymphonies-theme-branding > div.brand.site-name > div {
    display: none;
}



#block-menuprofiloutente > ul > li:nth-child(2) > a {
    display: inline-block;
    padding: 0 calc(0px + 10px);
    color: #2E9137;
    background-color: #F39905;
    text-decoration: none;
    font: normal normal 700 15px/1.4em futura-lt-w01-book,sans-serif;
    transition: color 0.4s ease 0s
}

#block-menuprofiloutente > ul > li > a {
    display: inline-block;
    padding: 0 calc(0px + 10px);
    color: #2E9137;
    background-color: #F39905;
    text-decoration: none;
    font: normal normal 700 15px/1.4em futura-lt-w01-book,sans-serif;
    transition: color 0.4s ease 0s
}

#block-menuprofiloutente > ul > li.menu-item.menu-item--active-trail > a {
    display: inline-block;
    padding: 0 calc(0px + 10px);
    color: #009FE3;
    background-color: #F39905;
    text-decoration: none;
    font: normal normal 700 15px/1.4em futura-lt-w01-book,sans-serif;
    transition: color 0.4s ease 0s
}



#block-menuprofiloutente > ul > li:nth-child(1) > a {
    display: inline-block;
    padding: 0 calc(0px + 10px);
    color: #2E9137;
    background-color: #F39905;
    text-decoration: none;
    font: normal normal 700 15px/1.4em futura-lt-w01-book,sans-serif;
    transition: color 0.4s ease 0s
}


#block-domande-2 > ul a {
    color: #2E9137;
    
}

#block-parolechiave > a {
    color: #2E9137;
    
}

#block-drupal8-zymphonies-theme-content > div > div > div.views-view-grid.horizontal.cols-1.clearfix > div.views-row.clearfix.row-7 > div > h2 > span {
    background-color: #E8EEEC;
    padding: 10px;
}


#block-tagcoraggio {
    background-color: #edf1f7;
    padding: 5px;
    max-width: 300px;
    font-size: 1.2em;
    font-style: italic;
    color: #FE9C00;
}

li.facet-item .facet-count-1 {
    background-color: #009F3E;
    font-size: 1em;
    color: #ffffff; 
    
}

li.facet-item .facet-count-2 {
    background-color: #FF4656;
    font-size: 1.3em;
    
}

li.facet-item .facet-count-3 {
    background-color: #A7C8EE;
    font-size: 1.6em;
    
}

li.facet-item .facet-count-4 {
    background-color: #FE9C00;
    font-size: 1.9em;
    
}

li.facet-item .facet-count-5 {
    background-color: #009F3E;
    font-size: 2.2em;
    
}

li.facet-item .facet-count-6 {
    background-color: #FF4656;
    font-size: 2.5em;
    
}

li.facet-item .facet-count-7 {
    background-color: #A7C8EE;
    font-size: 2.5em;
    
}

li.facet-item .facet-count-8,
li.facet-item .facet-count-9,
li.facet-item .facet-count-10 {
    background-color: #FE9C00;
    font-size: 2.7em;
    
}

#block-tagcoraggio > ul > li > a > span.facet-item__value  {
    color: #000000;
}

.views-row .clearfix {

    font-size: 4em;
}


li.facet-item {
    display: inline-block;
    padding: 7px;
    font-size: 1.3em;
}

li.menu-item {
    display: inline-block;
    padding-right: 10px;
    font-size: 1.3em;
}

li.facet-item .facet-count {
    display: inline-block;
    padding: 10px;
}

#block-domande-2 .facet-count {
    display: inline-block;
    font-size: 1.4em;
    padding: 10px;
}

#block-domande-2 .facet-count a {
    color: grey;
}