#block-drupal8-zymphonies-theme-branding > div.brand.site-name > div {
    display: none;
}



#block-menuprofiloutente > ul > li:nth-child(2) > a {
    display: inline-block;
    padding: 0 calc(0px + 10px);
    color: #2E9137;
    background-color: #F39905;
    text-decoration: none;
    font: normal normal 700 15px/1.4em futura-lt-w01-book,sans-serif;
    transition: color 0.4s ease 0s
}

#block-menuprofiloutente > ul > li > a {
    display: inline-block;
    padding: 0 calc(0px + 10px);
    color: #2E9137;
    background-color: #F39905;
    text-decoration: none;
    font: normal normal 700 15px/1.4em futura-lt-w01-book,sans-serif;
    transition: color 0.4s ease 0s
}

#block-menuprofiloutente > ul > li.menu-item.menu-item--active-trail > a {
    display: inline-block;
    padding: 0 calc(0px + 10px);
    color: #009FE3;
    background-color: #F39905;
    text-decoration: none;
    font: normal normal 700 15px/1.4em futura-lt-w01-book,sans-serif;
    transition: color 0.4s ease 0s
}



#block-menuprofiloutente > ul > li:nth-child(1) > a {
    display: inline-block;
    padding: 0 calc(0px + 10px);
    color: #2E9137;
    background-color: #F39905;
    text-decoration: none;
    font: normal normal 700 15px/1.4em futura-lt-w01-book,sans-serif;
    transition: color 0.4s ease 0s
}


#block-drupal8-zymphonies-theme-content > div > div > div.views-view-grid.horizontal.cols-1.clearfix > div.views-row.clearfix.row-7 > div > h2 > span {
    background-color: #E8EEEC;
    padding: 10px;
}


#block-tagcoraggio {
    background-color: gray;
    padding: 5px;
    max-width: 300px;
}

li.facet-item .facet-count-1,
li.facet-item .facet-count-2,
li.facet-item .facet-count-3 {
    font-size: 1em;
    
}

li.facet-item .facet-count-4,
li.facet-item .facet-count-5,
li.facet-item .facet-count-6 {
    font-size: 1.3em;
    
}

li.facet-item .facet-count-7,
li.facet-item .facet-count-8,
li.facet-item .facet-count-9 {
    font-size: 1.7em;
    
}

li.facet-item .facet-count-10,
li.facet-item .facet-count-11,
li.facet-item .facet-count-12,
li.facet-item .facet-count-13,
li.facet-item .facet-count-14,
li.facet-item .facet-count-15,
li.facet-item .facet-count-16,
li.facet-item .facet-count-17 {
    font-size: 2em;
    
}






li.facet-item {
    display: inline-block;
    padding-right: 10px;
    font-size: 1.3em;
}

li.menu-item {
    display: inline-block;
    padding-right: 10px;
    font-size: 1.3em;
}



